.card-img-top{
    border-radius: 10px 10px 0 0 ;
}
.card {
   border-radius: 10px;
   margin:10px;
   box-shadow: rgba(0, 0, 2, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(3, 3, 10, 0.05) 25px 25px;
}